{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "lwc",
    "^lightning/ui(.*)$",
    "^lightning/analytics(.*)$",
    "^lightning/cms(.*)$",
    "^lightning/fileDownload(.*)$",
    "^lightning/(.*)$",
    "^@salesforce/community/(.*)$",
    "^@salesforce/user/(.*)$",
    "^@salesforce/userPermission/(.*)$",
    "^@salesforce/customPermission/(.*)$",
    "^@salesforce/i18n/(.*)$",
    "@salesforce/client/formFactor",
    "@salesforce/apex",
    "^@salesforce/apex/(.*)$",
    "^@salesforce/apexContinuation/(.*)$",
    "^@salesforce/messageChannel/(.*)$",
    "^@salesforce/resourceUrl/(.*)$",
    "^@salesforce/contentAssetUrl/(.*)$",
    "^@salesforce/label/(.*)$",
    "^@salesforce/schema/(.*)$",
    "^experience/(.*)$",
    "^c/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["classProperties", "decorators-legacy"],
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": {
        "parser": "html"
      }
    }
  ]
}
