# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

# Default dist folder
dist/

.localdevserver
.sfdx
.idea

coverage/

# Ignore Aura Components
**/aura/

# Ignore Static Resources
**/staticresources/**